<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{block name="title"}DouPHP 管理中心{/block}</title>
    <meta name="Copyright" content="Douco Design." />
    {block name="script"}
    <link href="__STATIC__/admin/others/css/public.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/admin/others/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/others/global.js"></script>
    {/block}
</head>
<body>
<div id="dcHead">
    <div id="head">
        <div class="logo"><a href="index.html"><img src="__STATIC__/admin/others/images/dclogo.gif" alt="logo"></a></div>
        <div class="nav">
            <ul>
                <li class="M"><a href="JavaScript:void(0);" class="topAdd">新建</a>
                    <div class="drop mTopad"><a href="product.php?rec=add">商品</a> <a href="article.php?rec=add">文章</a> <a href="nav.php?rec=add">自定义导航</a> <a href="show.html">首页幻灯</a> <a href="page.php?rec=add">单页面</a> <a href="manager.php?rec=add">管理员</a> <a href="link.html"></a> </div>
                </li>
                <li><a href="../index.php" target="_blank">查看站点</a></li>
                <li><a href="index.php?rec=clear_cache">清除缓存</a></li>
                <li><a href="http://help.douco.com" target="_blank">帮助</a></li>
                <li class="noRight"><a href="module.html">DouPHP+</a></li>
            </ul>
            <ul class="navRight">
                <li class="M noLeft"><a href="JavaScript:void(0);">您好，{$Request.session.admin.admin_name}</a>
                    <div class="drop mUser">
                        <a href="manager.php?rec=edit&id=1">编辑我的个人资料</a>
                        <a href="manager.php?rec=cloud_account">设置云账户</a>
                    </div>
                </li>
                <li class="noRight"><a href="{:url('Login/loginout')}">退出</a></li>
            </ul>
        </div>
    </div>
</div>




<div id="dcLeft"><div id="menu">
    <ul class="top">
        <li><a href="{:url('Index/index')}"><i class="home"></i><em>管理首页</em></a></li>
    </ul>
    {foreach $menu as $key=>$val}
    <ul>
        <li style="overflow: visible">
            <a href="javascript:void(0)">
                <i class="system"></i>
                <em>{$val.node_name}</em>
            </a>
                {notempty name="$val.son"}
                {foreach $val.son as $k=>$v}
                <li><a href="{:url($v.node_controller.'/'.$v.node_action)}"><i></i><em>{$v.node_name}</em></a></li>
                {/foreach}
                {/notempty}
        </li>
    </ul>
    {/foreach}
</div></div>
<!--content-->
{block name="content"}我是内容{/block}
<!--/content-->
</body>
</html>