{extend name="public:base" /}
{block name="title"}DouPHP 管理中心 - 角色管理员{/block}
{block name="content"}
<div id="dcWrap">
 <div id="dcMain">
<div id="urHere">DouPHP 管理中心<b>></b><strong>角色管理员</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('role/add')}" class="actionBtn">添加角色</a>网站管理员</h3>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
     <tr>
      <th width="30" align="center">编号</th>
      <th align="left">角色名称</th>
      <th align="left">角色描述</th>
      <th align="center">操作</th>
     </tr>
         </table>
                       </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
   版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
{/block}