{extend name="public:base" /}
{block name="title"}DouPHP 管理中心 - 属性管理员{/block}
{block name="content"}
<script>
 //手动文本域禁用，可选文本域可用
 $(function(){
    $("input[name='attr_input_type']").change(function(){
     var attr=$(this).val();
     if(attr==0){
      $("textarea[name='attr_select']").attr("disabled",false);
     }else{
      $("textarea[name='attr_select']").attr("disabled",true);
     }
    })
  $("select[name='type_id']").change(function(){
   var obj=$(this);
   var type_id=$(this).val();
   $.ajax({
    type:"post",
    data:{type_id:type_id},
    url:"{:url('Type/getGroup')}",
    dataType:"json",
    success:function(data){
     if(data.status==1){
      html="";
      html+="<tr> " ;
      html+="<td width='100' align='right'>属性分组</td> " ;
      html+="<td><select name='group_name'> "
      $.each(data.data,function(k,v){
       html+="<option value=''> "+ v +"</option> " ;
      })
      html+="</select></td> ";
      html+="</tr>";
      obj.parents("tr").next().html(html);
     }else{

     }
    }
   })
  })
 })
</script>
<div id="dcWrap">
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">DouPHP 管理中心<b>></b><strong>属性管理员</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('show',['type_id'=>$type_id])}" class="actionBtn">返回列表</a>
     属性管理员</h3>
    <form action="" method="post">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="100" align="right">属性名称</td>
       <td>
        <input type="text" name="attr_name" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
      <td width="100" align="right">所属商品类型</td>
      <td>
       <select name="type_id" >
        <option value="">请选择...</option>
        {foreach $type as $key=>$val}
        <option value="{$val.type_id}">{$val.type_name}</option>
        {/foreach}
       </select>
      </td>
     </tr>
      <tr>
       <td width="100" align="right">属性是否参与购买</td>
       <td>
        <input type="radio" name="attr_type" size="40" value="0" checked />不参与购买
        <input type="radio" name="attr_type" size="40" value="1" />参与购买
       </td>
      </tr>
      <tr>
       <td width="100" align="right">该属性的录入方式</td>
       <td>
        <input type="radio" name="attr_input_type" size="40" value="1" checked />手动录入
        <input type="radio" name="attr_input_type" size="40" value="0" />从下面的列表中选择
       </td>
      </tr>
      <tr>
       <td width="100" align="right">可选值列表</td>
       <td>
        <textarea id="" cols="30" rows="5" name="attr_select" width="50px" disabled></textarea>
       </td>
      </tr>
     </table>
      <div align="center">
       <input type="submit" class="btn" value="确定" />
       <input type="submit" class="btn" value="重置" />
      </div>
    </form>
    </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
   版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
{/block}