{extend name="public:base"}
{block name="title"}DouPHP 管理中心 - 品牌管理 {/block}
{block name="content"}
<!-- 当前位置 -->
<div id="dcMain">
    <div id="urHere">DouPHP 管理中心<b>></b><strong>品牌管理</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('Brand/add')}" class="actionBtn add">添加品牌</a>品牌管理</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
        <thead>
        <tr>
            <th align="center">展开</th>
            <th width="120" align="left">品牌名称</th>
            <th align="left">品牌logo</th>
            <th align="left">是否显示</th>
            <th align="left">品牌网站</th>
            <th align="left">品牌描述</th>
            <th width="60" align="center">排序</th>
            <th width="80" align="center">操作</th>
        </tr>
        </thead>
        <tbody class="a">
        {foreach $brand as $key=>$vo}
        <tr>
            <td align="center">{$vo.brand_id}</td>
            <td>{$vo.brand_name}</td>
            <td>
                <img src="__STATIC__/uplodes/brand/{$vo.brand_logo}" alt=""
                     height="30px" width="30px">
            </td>
            <td>
                {if $vo.brand_status eq 1}显示
                {else}不显示
                {/if}
            </td>
            <td><a href="{$vo.brand_url}">{$vo.brand_url}</a></td>
            <td>{$vo.brand_desc}</td>
            <td>{$vo.brand_order}</td>
            <td align="center">
                <a href="addmanager.html?rec=edit&id=1">编辑</a> | <a href="manager.html?rec=del&id=1">删除</a></td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
</div>
<div class="clear"></div>
<div id="dcFooter">
    <div id="footer">
        <div class="line"></div>
        <ul>
            版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
        </ul>
    </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
{/block}