<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>DouPHP 管理中心 - 添加分类 </title>
<meta name="Copyright" content="Douco Design." />
<link href="__STATIC__/admin/others/css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/admin/others/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/others/js/global.js"></script>
</head>
<body>
<div id="dcWrap">
 {include  file="public/header"}
 <!-- dcHead 结束 -->
 {include  file="public/left"}
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">DouPHP 管理中心<b>></b><strong>添加分类</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><a href="{:url('cate/show')}" class="actionBtn">商品分类</a>添加分类</h3>
    <form action="" method="post">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="80" align="right">分类名称</td>
       <td>
        <input type="text" name="cate_name" value="" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">顶级分类</td>
       <td>
        <select name="cate_pid">
         <option value="0">顶级分类</option>
         {foreach $data as $key=>$vo }
         <option value="{$vo.cate_id}">
          {if condition="$vo['level'] neq 0"}|{/if}
          <?php echo str_repeat('--',$vo['level']);?>
          {$vo.cate_name}
         </option>
         {/foreach}
        </select>
       </td>
      </tr>
      <tr>
       <td align="right">关键字</td>
       <td>
        <input type="text" name="cate_keyword" value="" size="40" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">简单描述</td>
       <td>
        <textarea name="cate_desc" cols="60" rows="4" class="textArea"></textarea>
       </td>
      </tr>
      <tr>
       <td align="right">排序</td>
       <td>
        <input type="text" name="cate_order" value="50" size="5" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">是否显示</td>
       <td>
        <input type="radio" name="cate_status"  value="1" />显示
        <input type="radio" name="cate_status"  value="0" />不显示
       </td>
      </tr>
      <tr>
       <td align="right">是否显示在导航栏</td>
       <td>
        <input type="radio" name="cate_nav"  value="1" />显示
        <input type="radio" name="cate_nav"  value="0" />不显示
       </td>
      </tr>
      <tr>
       <td align="right">价格区间</td>
       <td>
        <input type="text" name="price_range" size="5" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input class="btn" type="submit" value="提交" />
       </td>
      </tr>
     </table>
    </form>
       </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
   版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
</body>
</html>