<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>DouPHP 管理中心 - 商品分类 </title>
<meta name="Copyright" content="Douco Design." />
<link href="__STATIC__/admin/others/css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/admin/others/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/others/js/global.js"></script>
</head>
<body>
<div id="dcWrap">
    {include  file="public/header"}
    <!-- dcHead 结束 -->
    {include  file="public/left"}
    <div id="dcMain">
    <!-- 当前位置 -->
<div id="urHere">DouPHP 管理中心<b>></b><strong>商品分类</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="add.html" class="actionBtn add">添加分类</a>商品分类</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
        <tr>
            <th width="120" align="left">分类名称</th>
            <th align="left">分类状态</th>
            <th align="left">简单描述</th>
            <th align="left">关键字</th>
            <th width="60" align="center">排序</th>
            <th width="60" align="center">价格区间</th>
            <th width="80" align="center">操作</th>
        </tr>
        {foreach $data as $key=>$vo}
        <tr>
            <td align="left "> <a href="">{if condition="$vo['level'] neq 0"}|{/if}
                <?php echo str_repeat('--',$vo['level']);?>
                {$vo.cate_name}</a></td>
            <td>
                {if $vo.cate_status==1}
                <button>显示</button>
                {else}
                <button>不显示</button>
                {/if}
            </td>
            <td>{$vo.cate_desc}</td>
            <td>{$vo.cate_keyword}</td>
            <td align="center">{$vo.cate_order}</td>
            <td align="center">{$vo.price_range}</td>
            <td align="center"><a href="product_category.php?rec=edit&cat_id=1">编辑</a>
                | <a href="product_category.php?rec=del&cat_id=1">删除</a></td>
        </tr>
        {/foreach}
          </table>
           </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
   版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
</body>
</html>